<!DOCTYPE html>
<html>
  <head>
    <title>Travel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
      <%= javascript_pack_tag 'navigation' %>
      <%= content_tag :div,
        id: "navigation-bar",
        data: {
          loggedIn: logged_in?,
          currentUser: current_user
        }.to_json do %>
      <% end %>
    <%= yield %>
  </body>
</html>
