<!DOCTYPE html>
<html>
  <head>
    <title>Travel Pro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400:300|Montserrat:400,900,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/0cfcb9aae2.js"></script>
  </head>
  <body>
  <div class="site">
    <%= javascript_pack_tag 'navigation' %>
    <%= content_tag :div,
      id: "navigation-bar",
      data: {
        loggedIn: logged_in?,
        currentUser: current_user
      }.to_json do %>
    <% end %>
      <%= yield %>
      <footer class="footer">Copyright Travel Pro</footer>
    </div>
  </body>
</html>
